.about-Container {
    height: 80vh;
    display: flex;
    flex-direction: row;
    
    padding: 30rem 20rem;
    margin: auto 0rem;
    background-color: rgb(244, 32, 71);



  }

  .write{
    margin: 0 3rem;
    line-height: 5rem;
  }

  .write > h1{
    font-size: 5.5rem;
  }


  .write > h2{
    margin: 2rem;
    font-size: 2.5rem;
    font-weight: 500;
  }

  .bt{
    padding: 2rem 3rem;
    border-radius: 20px;
    background-color: rgb(234, 33, 56);
    color: white;
    font-weight: 600;
}

.pizaaimg{
    margin-left: 40rem;
}

.pizaaimg >img{
    
height: 50rem;
width: 50rem;
   
}