html{
    font-size: 45.5%;
    color: #000;
}
.main-nav{
   width: 100%;
    display: flex;
    gap: 50%;
    height: 60px;
    
    background-color: rgb(255, 8, 53);
    position: fixed;
    color: black;
}

.menu-link{
    display: flex;
    flex-direction: row;
    gap: 20%;
    font-size: large;
  
}




.logo{
    display: flex;
   
   
    justify-content: start;
    align-items: center;
    text-align: center;
    
}




.buttons{
    grid-column: 5/6;
    height: 10rem;
    display: flex;
    gap: 2rem;
    align-items: center;

    
}

.bt{
    padding: 2rem 3rem;
    border-radius: 1rem;
    background-color: rgb(6, 1, 10);
    color: white;
    font-weight: 600;
}


